/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.5.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: llantera
-- ------------------------------------------------------
-- Server version	11.5.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `rfc` varchar(13) NOT NULL,
  `nombre` varchar(30) NOT NULL,
  `apellido_p` varchar(30) NOT NULL,
  `apellido_m` varchar(30) DEFAULT NULL,
  `telefono` varchar(10) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`rfc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES
('CAAJ900501MNO','Jos├®','Castillo','├ülvarez','3312340001','jose.castillo@email.com'),
('HERR750804VWX','Carmen','Herrera','R├¡os','3312340004','carmen.herrera@email.com'),
('PELR850602PQR','Laura','Pe├▒a','L├│pez','3312340002','laura.pena@email.com'),
('ROMI800703STU','Miguel','Rodr├¡guez','Mart├¡nez','3312340003','miguel.rodriguez@email.com');
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `descuento`
--

DROP TABLE IF EXISTS `descuento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `descuento` (
  `clave_descuento` varchar(10) NOT NULL,
  `porcentaje` int(11) NOT NULL CHECK (`porcentaje` between 0 and 100),
  `fecha_ini` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `condiciones` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`clave_descuento`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `descuento`
--

LOCK TABLES `descuento` WRITE;
/*!40000 ALTER TABLE `descuento` DISABLE KEYS */;
/*!40000 ALTER TABLE `descuento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `det_llanta`
--

DROP TABLE IF EXISTS `det_llanta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `det_llanta` (
  `clave_producto` varchar(20) NOT NULL,
  `medida` varchar(15) NOT NULL,
  `temporada` varchar(100) DEFAULT NULL,
  `indice_cv` varchar(10) DEFAULT NULL,
  `UTQG` varchar(10) DEFAULT NULL,
  `produccion` varchar(50) DEFAULT NULL,
  `OEM` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`clave_producto`),
  CONSTRAINT `det_llanta_ibfk_1` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `det_llanta`
--

LOCK TABLES `det_llanta` WRITE;
/*!40000 ALTER TABLE `det_llanta` DISABLE KEYS */;
INSERT INTO `det_llanta` VALUES
('LL-001','225/45R17','Verano','94Y','300 A A','Francia','Mercedes-Benz'),
('LL-002','205/55R16','Todas','91H','400 A A','Jap├│n','Toyota'),
('LL-003','195/65R15','Todas','89H','500 A A','Espa├▒a','Volkswagen');
/*!40000 ALTER TABLE `det_llanta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `det_rin`
--

DROP TABLE IF EXISTS `det_rin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `det_rin` (
  `clave_producto` varchar(20) NOT NULL,
  `id_rin` int(11) NOT NULL,
  `acabado` varchar(50) DEFAULT NULL,
  `offset_val` varchar(5) DEFAULT NULL,
  `num_hoyos` int(11) DEFAULT NULL,
  `tipo_vehiculo` varchar(50) DEFAULT NULL,
  `medida` int(11) DEFAULT NULL,
  `ancho` int(11) DEFAULT NULL,
  `barrenacion` float DEFAULT NULL,
  PRIMARY KEY (`clave_producto`),
  CONSTRAINT `det_rin_ibfk_1` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `det_rin`
--

LOCK TABLES `det_rin` WRITE;
/*!40000 ALTER TABLE `det_rin` DISABLE KEYS */;
INSERT INTO `det_rin` VALUES
('RIN-001',101,'Plata diamantado','ET45',5,'Autom├│vil',17,7,114.3),
('RIN-002',102,'Negro mate','ET35',5,'SUV',18,8,112);
/*!40000 ALTER TABLE `det_rin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `det_servicio`
--

DROP TABLE IF EXISTS `det_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `det_servicio` (
  `clave_producto` varchar(20) NOT NULL,
  `tiempo` time NOT NULL,
  `area` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`clave_producto`),
  CONSTRAINT `det_servicio_ibfk_1` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `det_servicio`
--

LOCK TABLES `det_servicio` WRITE;
/*!40000 ALTER TABLE `det_servicio` DISABLE KEYS */;
INSERT INTO `det_servicio` VALUES
('SERV-001','00:20:00','Montaje'),
('SERV-002','00:30:00','Alineaci├│n'),
('SERV-003','00:15:00','Montaje');
/*!40000 ALTER TABLE `det_servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_orden_compra`
--

DROP TABLE IF EXISTS `detalle_orden_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_orden_compra` (
  `numero` int(11) NOT NULL,
  `folio_oc` int(11) NOT NULL,
  `clave_producto` varchar(20) NOT NULL,
  `cantidad` int(11) NOT NULL,
  `precio` float NOT NULL,
  PRIMARY KEY (`folio_oc`,`numero`),
  KEY `clave_producto` (`clave_producto`),
  CONSTRAINT `detalle_orden_compra_ibfk_1` FOREIGN KEY (`folio_oc`) REFERENCES `orden_compra` (`folio`),
  CONSTRAINT `detalle_orden_compra_ibfk_2` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_orden_compra`
--

LOCK TABLES `detalle_orden_compra` WRITE;
/*!40000 ALTER TABLE `detalle_orden_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_orden_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta`
--

DROP TABLE IF EXISTS `detalle_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_venta` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `folio_venta` varchar(10) NOT NULL,
  `clave_producto` varchar(20) NOT NULL,
  `cantidad` int(11) NOT NULL,
  `precio` float NOT NULL,
  `descuento` float DEFAULT 0,
  `clave_descuento` varchar(10) DEFAULT NULL,
  `observaciones` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_detalle`),
  KEY `folio_venta` (`folio_venta`),
  KEY `clave_producto` (`clave_producto`),
  KEY `clave_descuento` (`clave_descuento`),
  CONSTRAINT `detalle_venta_ibfk_1` FOREIGN KEY (`folio_venta`) REFERENCES `venta` (`folio`),
  CONSTRAINT `detalle_venta_ibfk_2` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`),
  CONSTRAINT `detalle_venta_ibfk_3` FOREIGN KEY (`clave_descuento`) REFERENCES `descuento` (`clave_descuento`)
) ENGINE=InnoDB AUTO_INCREMENT=9755 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta`
--

LOCK TABLES `detalle_venta` WRITE;
/*!40000 ALTER TABLE `detalle_venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_venta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `domicilios`
--

DROP TABLE IF EXISTS `domicilios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `domicilios` (
  `id_domicilio` int(11) NOT NULL AUTO_INCREMENT,
  `rfc_empleado` varchar(13) NOT NULL,
  `calle` varchar(20) NOT NULL,
  `num_ext` varchar(5) DEFAULT NULL,
  `num_int` varchar(5) DEFAULT NULL,
  `colonia` varchar(20) DEFAULT NULL,
  `municipio` varchar(20) DEFAULT NULL,
  `estado` varchar(15) DEFAULT NULL,
  `cp` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id_domicilio`),
  KEY `rfc_empleado` (`rfc_empleado`),
  CONSTRAINT `domicilios_ibfk_1` FOREIGN KEY (`rfc_empleado`) REFERENCES `empleados` (`rfc`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `domicilios`
--

LOCK TABLES `domicilios` WRITE;
/*!40000 ALTER TABLE `domicilios` DISABLE KEYS */;
INSERT INTO `domicilios` VALUES
(1,'GARJ920506ABC','Calle Roble','12','','Arboledas','Zapopan','Jalisco','45130'),
(2,'MORL880715DEF','Av. Las Rosas','456','2','Jardines','Zapopan','Jalisco','45150'),
(3,'RODR910823GHI','Calle Hidalgo','78','A','Centro','Tonal├í','Jalisco','45410'),
(4,'VASM790912JKL','Calle Morelos','90','','Zona Centro','Tonal├í','Jalisco','45420');
/*!40000 ALTER TABLE `domicilios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados`
--

DROP TABLE IF EXISTS `empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados` (
  `rfc` varchar(13) NOT NULL,
  `nombre` varchar(30) NOT NULL,
  `apellido_p` varchar(30) NOT NULL,
  `apellido_m` varchar(30) NOT NULL,
  `telefono` varchar(10) DEFAULT NULL,
  `celular` varchar(10) DEFAULT NULL,
  `contacto_emergencia` varchar(50) DEFAULT NULL,
  `telefono_emergencia` varchar(10) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `clave_puesto` varchar(10) NOT NULL,
  `clave_horario` varchar(10) NOT NULL,
  PRIMARY KEY (`rfc`),
  KEY `clave_puesto` (`clave_puesto`),
  KEY `clave_horario` (`clave_horario`),
  CONSTRAINT `empleados_ibfk_1` FOREIGN KEY (`clave_puesto`) REFERENCES `puestos` (`cve_puesto`),
  CONSTRAINT `empleados_ibfk_2` FOREIGN KEY (`clave_horario`) REFERENCES `horario_emp` (`clave_horario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados`
--

LOCK TABLES `empleados` WRITE;
/*!40000 ALTER TABLE `empleados` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario_emp`
--

DROP TABLE IF EXISTS `horario_emp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horario_emp` (
  `clave_horario` varchar(10) NOT NULL,
  `id_sucursal` varchar(30) DEFAULT NULL,
  `descripcion` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`clave_horario`),
  KEY `id_sucursal` (`id_sucursal`),
  CONSTRAINT `horario_emp_ibfk_1` FOREIGN KEY (`id_sucursal`) REFERENCES `sucursal` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario_emp`
--

LOCK TABLES `horario_emp` WRITE;
/*!40000 ALTER TABLE `horario_emp` DISABLE KEYS */;
INSERT INTO `horario_emp` VALUES
('HOR01','Reforma','Tiempo completo'),
('HOR02','Ciudad Universitaria','Medio tiempo'),
('HOR03','ITO','Tiempo completo'),
('HOR04','Viguera','Tiempo completo');
/*!40000 ALTER TABLE `horario_emp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario_emp_detalle`
--

DROP TABLE IF EXISTS `horario_emp_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horario_emp_detalle` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `clave_horario` varchar(10) NOT NULL,
  `dia_semana` enum('Lunes','Martes','Mi├®rcoles','Jueves','Viernes','S├íbado','Domingo') NOT NULL,
  `hora_entrada` time NOT NULL,
  `hora_salida` time NOT NULL,
  PRIMARY KEY (`id_detalle`),
  UNIQUE KEY `clave_horario` (`clave_horario`,`dia_semana`),
  CONSTRAINT `horario_emp_detalle_ibfk_1` FOREIGN KEY (`clave_horario`) REFERENCES `horario_emp` (`clave_horario`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario_emp_detalle`
--

LOCK TABLES `horario_emp_detalle` WRITE;
/*!40000 ALTER TABLE `horario_emp_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `horario_emp_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horario_sucursal`
--

DROP TABLE IF EXISTS `horario_sucursal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `horario_sucursal` (
  `id_horario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_sucursal` varchar(30) NOT NULL,
  `dia` varchar(10) NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_cierre` time NOT NULL,
  PRIMARY KEY (`id_horario`),
  KEY `nombre_sucursal` (`nombre_sucursal`),
  CONSTRAINT `horario_sucursal_ibfk_1` FOREIGN KEY (`nombre_sucursal`) REFERENCES `sucursal` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario_sucursal`
--

LOCK TABLES `horario_sucursal` WRITE;
/*!40000 ALTER TABLE `horario_sucursal` DISABLE KEYS */;
INSERT INTO `horario_sucursal` VALUES
(1,'ITO','Lunes','08:00:00','18:00:00'),
(2,'ITO','Martes','08:00:00','18:00:00'),
(3,'ITO','Mi├®rcoles','08:00:00','18:00:00'),
(4,'ITO','Jueves','08:00:00','18:00:00'),
(5,'ITO','Viernes','08:00:00','18:00:00'),
(6,'ITO','S├íbado','09:00:00','14:00:00'),
(7,'Viguera','Lunes','09:00:00','19:00:00'),
(8,'Viguera','Martes','09:00:00','19:00:00'),
(9,'Viguera','Mi├®rcoles','09:00:00','19:00:00'),
(10,'Viguera','Jueves','09:00:00','19:00:00'),
(11,'Viguera','Viernes','09:00:00','19:00:00'),
(12,'Viguera','S├íbado','10:00:00','15:00:00');
/*!40000 ALTER TABLE `horario_sucursal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario`
--

DROP TABLE IF EXISTS `inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario` (
  `id_inventario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_sucursal` varchar(30) NOT NULL,
  `clave_producto` varchar(20) NOT NULL,
  `existencia` int(11) NOT NULL DEFAULT 0,
  `minimo` int(11) NOT NULL DEFAULT 0,
  `ubicacion` varchar(20) DEFAULT NULL,
  `observaciones` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_inventario`),
  UNIQUE KEY `nombre_sucursal` (`nombre_sucursal`,`clave_producto`),
  KEY `clave_producto` (`clave_producto`),
  CONSTRAINT `inventario_ibfk_1` FOREIGN KEY (`nombre_sucursal`) REFERENCES `sucursal` (`nombre`),
  CONSTRAINT `inventario_ibfk_2` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario`
--

LOCK TABLES `inventario` WRITE;
/*!40000 ALTER TABLE `inventario` DISABLE KEYS */;
INSERT INTO `inventario` VALUES
(1,'ITO','LL-001',20,5,'Estante A1','Llantas premium'),
(2,'ITO','LL-002',15,4,'Estante A2','Llantas media'),
(3,'ITO','RIN-001',8,2,'Estante R1','Rines BBS'),
(4,'ITO','ACC-001',50,10,'Mostrador','Tuercas'),
(5,'Viguera','LL-003',25,5,'Bodega 1','Llantas econ├│micas'),
(6,'Viguera','RIN-002',6,2,'Bodega 2','Rines Momo'),
(7,'Viguera','SERV-001',999,1,'Taller','Servicio ilimitado'),
(8,'Viguera','ACC-001',30,10,'Caja','Tuercas');
/*!40000 ALTER TABLE `inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marcas`
--

DROP TABLE IF EXISTS `marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marcas` (
  `id_marca` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id_marca`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marcas`
--

LOCK TABLES `marcas` WRITE;
/*!40000 ALTER TABLE `marcas` DISABLE KEYS */;
INSERT INTO `marcas` VALUES
(3,'BBS'),
(2,'Bridgestone'),
(1,'Michelin'),
(4,'Momo');
/*!40000 ALTER TABLE `marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_servicios`
--

DROP TABLE IF EXISTS `material_servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `material_servicios` (
  `clave_producto_s` varchar(20) NOT NULL,
  `clave_producto_c` varchar(20) NOT NULL,
  `cantidad` int(11) NOT NULL,
  `unidad` varchar(15) NOT NULL,
  PRIMARY KEY (`clave_producto_s`,`clave_producto_c`),
  KEY `clave_producto_c` (`clave_producto_c`),
  CONSTRAINT `material_servicios_ibfk_1` FOREIGN KEY (`clave_producto_s`) REFERENCES `det_servicio` (`clave_producto`),
  CONSTRAINT `material_servicios_ibfk_2` FOREIGN KEY (`clave_producto_c`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_servicios`
--

LOCK TABLES `material_servicios` WRITE;
/*!40000 ALTER TABLE `material_servicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `material_servicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orden_compra`
--

DROP TABLE IF EXISTS `orden_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orden_compra` (
  `folio` int(11) NOT NULL AUTO_INCREMENT,
  `rfc_prov` varchar(13) NOT NULL,
  `clav_cotizacion` varchar(10) DEFAULT NULL,
  `fecha` date NOT NULL,
  `fecha_entrega` date DEFAULT NULL,
  `estatus` enum('cotizado','proceso','pagado','entregado') NOT NULL,
  `subtotal` float NOT NULL,
  `iva` float NOT NULL,
  `total` float NOT NULL,
  PRIMARY KEY (`folio`),
  KEY `rfc_prov` (`rfc_prov`),
  CONSTRAINT `orden_compra_ibfk_1` FOREIGN KEY (`rfc_prov`) REFERENCES `proveedores` (`rfc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orden_compra`
--

LOCK TABLES `orden_compra` WRITE;
/*!40000 ALTER TABLE `orden_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `orden_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productos` (
  `clave_producto` varchar(20) NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `precio` float NOT NULL,
  `tipo_producto` enum('Llanta','Rin','Accesorio','Servicio') NOT NULL,
  `id_marca` int(11) NOT NULL,
  PRIMARY KEY (`clave_producto`),
  KEY `id_marca` (`id_marca`),
  CONSTRAINT `productos_ibfk_1` FOREIGN KEY (`id_marca`) REFERENCES `marcas` (`id_marca`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedores` (
  `rfc` varchar(13) NOT NULL,
  `razon_social` varchar(100) NOT NULL,
  `contacto` varchar(50) DEFAULT NULL,
  `telefono` varchar(10) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  PRIMARY KEY (`rfc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puestos`
--

DROP TABLE IF EXISTS `puestos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `puestos` (
  `cve_puesto` varchar(10) NOT NULL,
  `nombre` varchar(30) NOT NULL,
  `funciones` text NOT NULL,
  `salario` float NOT NULL,
  `id_sucursal` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`cve_puesto`),
  KEY `id_sucursal` (`id_sucursal`),
  CONSTRAINT `puestos_ibfk_1` FOREIGN KEY (`id_sucursal`) REFERENCES `sucursal` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puestos`
--

LOCK TABLES `puestos` WRITE;
/*!40000 ALTER TABLE `puestos` DISABLE KEYS */;
INSERT INTO `puestos` VALUES
('GER01','Gerente','Supervisi├│n de sucursal y autorizaci├│n de traspasos.',15000,NULL),
('VEN01','Vendedor','Atenci├│n a clientes, cotizaciones y cierre de ventas.',8000,NULL);
/*!40000 ALTER TABLE `puestos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sucursal`
--

DROP TABLE IF EXISTS `sucursal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sucursal` (
  `nombre` varchar(30) NOT NULL,
  `calle` varchar(50) NOT NULL,
  `num_ext` varchar(5) NOT NULL,
  `num_int` varchar(5) DEFAULT NULL,
  `colonia` varchar(50) NOT NULL,
  `municipio` varchar(50) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `cp` varchar(5) NOT NULL,
  `telefono` varchar(10) NOT NULL,
  `correo` varchar(50) NOT NULL,
  PRIMARY KEY (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sucursal`
--

LOCK TABLES `sucursal` WRITE;
/*!40000 ALTER TABLE `sucursal` DISABLE KEYS */;
INSERT INTO `sucursal` VALUES
('Ciudad Universitaria','Calle 5 de Mayo','567','A','Zona Sur','Tlaquepaque','Jalisco','45600','3323456789','sur@llanterahriam.com'),
('ITO','Av. Patria','987','','Jardines','Zapopan','Jalisco','45100','3334567890','norte@llanterahriam.com'),
('Reforma','Av. Revoluci├│n','1234','','Centro','Guadalajara','Jalisco','44100','3312345678','matriz@llanterahriam.com'),
('Viguera','Calle Independencia','234','B','Centro','Tonal├í','Jalisco','45400','3345678901','este@llanterahriam.com');
/*!40000 ALTER TABLE `sucursal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traspaso`
--

DROP TABLE IF EXISTS `traspaso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traspaso` (
  `id_traspaso` int(11) NOT NULL AUTO_INCREMENT,
  `suc_origen` varchar(30) NOT NULL,
  `suc_destino` varchar(30) NOT NULL,
  `rfc_autorizo` varchar(13) NOT NULL,
  `clave_producto` varchar(20) NOT NULL,
  `precio` float NOT NULL,
  `cantidad` int(11) NOT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  `estatus` int(11) NOT NULL,
  PRIMARY KEY (`id_traspaso`),
  KEY `suc_origen` (`suc_origen`),
  KEY `suc_destino` (`suc_destino`),
  KEY `rfc_autorizo` (`rfc_autorizo`),
  KEY `clave_producto` (`clave_producto`),
  CONSTRAINT `traspaso_ibfk_1` FOREIGN KEY (`suc_origen`) REFERENCES `sucursal` (`nombre`),
  CONSTRAINT `traspaso_ibfk_2` FOREIGN KEY (`suc_destino`) REFERENCES `sucursal` (`nombre`),
  CONSTRAINT `traspaso_ibfk_3` FOREIGN KEY (`rfc_autorizo`) REFERENCES `empleados` (`rfc`),
  CONSTRAINT `traspaso_ibfk_4` FOREIGN KEY (`clave_producto`) REFERENCES `productos` (`clave_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traspaso`
--

LOCK TABLES `traspaso` WRITE;
/*!40000 ALTER TABLE `traspaso` DISABLE KEYS */;
/*!40000 ALTER TABLE `traspaso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta`
--

DROP TABLE IF EXISTS `venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `venta` (
  `folio` varchar(10) NOT NULL,
  `sucursal` varchar(30) NOT NULL,
  `fecha` datetime NOT NULL,
  `rfc_empleado` varchar(13) NOT NULL,
  `rfc_cliente` varchar(13) NOT NULL,
  `subtotal` float NOT NULL,
  `iva` float NOT NULL,
  `total` float NOT NULL,
  `forma_pago` enum('efectivo','tarjeta','transferencia','mixto') NOT NULL,
  `operacion` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`folio`),
  KEY `sucursal` (`sucursal`),
  KEY `rfc_empleado` (`rfc_empleado`),
  KEY `rfc_cliente` (`rfc_cliente`),
  CONSTRAINT `venta_ibfk_1` FOREIGN KEY (`sucursal`) REFERENCES `sucursal` (`nombre`),
  CONSTRAINT `venta_ibfk_2` FOREIGN KEY (`rfc_empleado`) REFERENCES `empleados` (`rfc`),
  CONSTRAINT `venta_ibfk_3` FOREIGN KEY (`rfc_cliente`) REFERENCES `clientes` (`rfc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta`
--

LOCK TABLES `venta` WRITE;
/*!40000 ALTER TABLE `venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-07-14 12:15:05
